/* styles.css */
body {
  background-color: #252525;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

h1#gameTitle {
  margin: 20px 0;
  color: white;
  font-size: 4vw;          
}

canvas {
  width: 100%;
  max-width: 960px;
  height: auto;
  background-color: rosybrown;
  border: 3px solid #000;
  display: block;
  margin: 0 auto;
}

/* Para móviles */
@media only screen and (max-width: 768px) {
  html, body {
    height: 100%;
    margin: 0;
  }
  canvas {
    width: 100vw !important;
    height: 100vh !important;
    max-width: none;
    max-height: none;
    border: none;
    display: block;
  }
   h1#gameTitle {
    position: absolute;
    visibility: hidden;
  }
}