body {
  background-color: #252525;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
h1#gameTitle {
  margin: 20px 0;
  color: white;
}

canvas {
  background-color: peachpuff;
  border: 3px solid #000;
  display: block;
  margin: 0 auto;
}
